.innovations {

  &__title {
    margin: 45px auto 0;
    width: 320px;
    padding-left: 19px;
    font-size: 22px;
    font-weight: 400;
    color: $title-color;
    word-break: break-word;

    @media (min-width: $tablet) {
      margin-top: 112px;
      padding: 0;
      width: 80%;
      font-size: 36px;
    }

    &--eng {

      @media (max-width: $pre-tablet) {
        display: none;
      }
    }

    &--rus {

      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  &__advantage {
    margin: 23px auto 0;
    width: 280px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    @media (min-width: $tablet) {
      margin-top: 33px;
      margin-left: 148px;
      width: auto;
      max-width: 877px;
      font-size: 18px;
    }

    &--eng {

      @media (max-width: $pre-tablet) {
        display: none;
      }
    }

    &--rus {

      @media (min-width: $tablet) {
        display: none;
      }
    }
  }
}
