.slider {
  padding-top: 24px;

  &__arrows {
    margin: 0 auto;
    width: 280px;

    @media (min-width: $tablet) {
      margin-top: 34px;
      margin-left: 100px;
    }
  }

  &__arrow {
    padding: 0;
    width: 15px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity;
    transition-timing-function: ease;
    transition-duration: 0.7s;

    &:hover {
      opacity: 0.5;
    }

    svg {
      fill: $dark-blue;
    }
  }

  &__arrow-previous {
    margin-right: 16px;
  }

  &__features {

    @media(min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 150px;
      padding-right: 20px;
    }
  }

  &__features-column {

    @media (max-width: $pre-tablet) {
      &:nth-of-type(n+2) {
        @include visually-hidden;
      }
    }

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 49%;
    }
  }

  &__feature {
    margin-top: 23px;
    margin-bottom: 34px;

    @media (min-width: $tablet) {
      margin-bottom: 42px;
    }
  }

  &__feature-title {
    margin: 0 auto;
    width: 280px;
    font-size: 16px;
    font-weight: 400;

    @media (min-width: $tablet) {
      position: relative;
      padding-top: 9px;
      padding-left: 68px;
      padding-bottom: 12px;
      width: auto;
      font-size: 24px;
      line-height: 1.13;
    }

    &::before {

      @media (min-width: $tablet) {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 55px;
        height: 44px;
        background-repeat: no-repeat;
        background-size: 44px;
      }
    }
    
    &--blockchain {

      &::before {

        @media (min-width: $tablet) {
          background-image: url("../img/blockchain.svg");
        }
      }
    }

    &--stability {

      &::before {

        @media (min-width: $tablet) {
          background-image: url("../img/stability.svg");
        }
      }
    }

    &--bullhorn {

      &::before {

        @media (min-width: $tablet) {
          background-image: url("../img/bullhorn.svg");
        }
      }
    }

    &--reserves {

      &::before {

        @media (min-width: $tablet) {
          background-image: url("../img/reserves.svg");
          background-size: 53px;
        }
      }
    }
  }

  &__feature-content {
    margin: 18px auto 0;
    width: 283px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    @media (min-width: $tablet) {
      width: auto;
      font-size: 18px;
    }
  }
}
